.page-container1{
    width: 100%;
    margin: auto;
    height: 1400px;
}
header{
    background-color:#6c18e4;
    color: #fadc3f;
    display:flex;
    flex-direction: row;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    background-color: #6c18e4;
    padding-left: 1500px;
    padding-top: 15px;

}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: #fadc3f;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline #fadc3f;
}

footer{
    background-color:#6c18e4;
    color: #fadc3f;
    text-align: center;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 50px
}
form{
    margin: 20px;
    border: 10px solid #fadc3f;
    border-radius: 15px;
    background-color: #6c18e4 ;
    padding: 20px; 
    row-gap: 20px;
    color: #fadc3f;
}

.buttons2 a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fadc3f;
    color: #6c18e4;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.buttons2 a:hover{
    background-color: #6c18e4;
    color: #fadc3f;
    border: 2px solid #fadc3f;
}

.tutorials{
    background-color: #6c18e4;
    color: #fadc3f;
    padding: 20px;
    margin: 20px;
    border: 10px solid #fadc3f;
    border-radius: 15px;
}
.classs{
    background-color: #6c18e4;
    color: #fadc3f;
    padding: 20px;
    margin: 20px;
    border: 10px solid #fadc3f;
    border-radius: 15px;
}