.page-container{
    width: 100%;
    background-color: black;
    margin: auto;
}
header{
    background-color: black;
    color: yellow;
    display:flex;
    flex-direction: row;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    background-color: rgb(0, 0, 0);
    padding-left: 1500px;
    padding-top: 15px;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
}