.page-container{
    width: 100%;
    margin: auto;
    background-color: black;
}
.content{
    display: flex;

}
header{
    background-color: black;
    color: white;
    padding: 20px;
    display:flex;
}

.logodiv {
    display: flex;
    align-items: center;
    flex-direction: row;

}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    background-color: black;
    padding-left: 1500px;
    padding-top: 15px;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
}
.heroimage{
   background-image: url("imgaes/R.jpg");
   background-size: cover;
   background-position: center;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.herotext{
    color: white;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 60%;
    padding: 50px;
    border-radius: 20px;
    background-color: black;
}
footer{
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    height: 150px;
}